@import '../imports';

.summary {
    background-color: $background;
    border: 1px solid $black;
    border-radius: 5px;

    padding: 5px 2%;
    margin: 20px 0;

    display: flex;

    .thumbnail {
        width: 80px;
        flex-shrink: 0;
    }

    .name  {
        font-weight: 600;
        line-height: 1em;
    }

    .second_line {
        color: $gray;

        .stars {
            margin-top: -7px;
        }
    }

    .icon_row {
        color: $gray;

        span {
            padding-right: 15px;
        }
    }
}
