@import '../imports';

@mixin button {
    text-decoration: none;
    padding: 2px 5px;
    border-radius: 6px;
    transition: all ease 0.1s
}

.red {
    @include button();
    color: $white;
    background-color: $red;
    border: 1px solid $white;

    &:hover {
        color: $black;
        border-color: $black;
    }
}