@import '../imports';

.main {
    background: $background;
    min-height: calc(100vh - $header-height);
    padding: 20px 10%;
}

@media screen and (max-width: $xs-max) {
    .main {
        padding: 20px 0;
    }
}