@import '../imports';

.review {
    background-color: $background;
    border: 1px solid $black;
    border-radius: 5px;

    padding: 5px;
    margin: 20px 0;

    .stars {
        margin-top: -7px;
    }

    .date_line {
        color: $gray;
    }

    .gallery {
        display: flex;
    }
}